@import url(http://fonts.googleapis.com/css?family=Ubuntu);

html {
	font-family: 'Ubuntu', sans-serif;
}

.exec-status {
    text-transform: uppercase;
}
.done {
    color: #6e6;
}
.failed {
    color: #e66;
}
.running {
    color: #666;
}

.stderr {
    background: #fee;
}
