@import url(http://fonts.googleapis.com/css?family=Ubuntu);

html {
	font-family: 'Ubuntu', sans-serif;
	padding: 10px;
}

.exec-status {
    text-transform: uppercase;
}
.done {
    color: #6e6;
}
.failed {
    color: #e66;
}
.running {
    color: #666;
}

.stderr {
    background: #fee;
}

.process-output {
	padding: 2px;
	outline: 1px solid #ccc;
	width: 100%;
	height: 600px;
	overflow: auto;
}
