<!DOCTYPE html>
<html>
<head>
    <title>Roat</title>
    <link rel="stylesheet" type="text/css" href="static/style.css">
    <script>
    document.documentElement.addEventListener('click', function (event) {
        var element = event.target;
        var activateUrl = element.getAttribute('data-activate-url');
        if (activateUrl != null) {
            var xhr = new XMLHttpRequest();
            xhr.open("POST", activateUrl);
            xhr.setRequestHeader("Content-Type", "application/vnd.brik.roat.trigger+json");
            xhr.send("{}");
            xhr.onreadystatechange = function () {
                if (xhr.readyState === XMLHttpRequest.DONE) {
                    if (Math.floor(xhr.status / 100) == 2) {
                        if (xhr.status === 201) {
                            var newLocation = xhr.getResponseHeader("Location");
                            if (!newLocation) {
                                alert("You have discovered a bug.\n\n" +
                                    "The trigger action returned a " + xhr.status + " status, " +
                                    "but the answer contained no Location.");
                                return;
                            }
                            window.location.href = newLocation;
                        } else {
                            window.location.reload(false);
                        }
                    } else {
                        if (xhr.status === 0) {
                            alert("Unable to reach the server.\n\nPlease try again later.");
                        } else {
                            console.error("[" + xhr.status + "]", xhr.statusText);
                            console.error("xhr.getAllResponseHeaders():", xhr.getAllResponseHeaders());
                            console.error("xhr.response:", xhr.response);
                            alert("An error occurred during triggering.\n\nPlease try again later.");
                        }
                    }
                }
            };
            event.preventDefault();
        }
    });
    </script>
</head>
<body>
    <h1>Actions</h1>
    <table>
        <thead>
            <tr><th>Title</th><th>Manual trigger</th></tr>
        </thead>
        <tbody>
            {{#actions}}
            <tr>
                <td><!-- #currentSubprocessId test will unfortunately be false for subprocess ID 0
                    {{#currentSubprocessId}}
                    --><a href="subprocess/{{currentSubprocessId}}"><!--
                    {{/currentSubprocessId}}-->{{title}}<!--{{#currentSubprocessId}}
                    --></a><!--
                    {{/currentSubprocessId}}
                    -->
                    {{#pendingExecution}}
                    <span class="minor">pending</span>
                    {{/pendingExecution}}
                </td>
                <td><a data-activate-url="action/{{id}}" href="#">Run</button></td>
            </tr>
            {{/actions}}
        </tbody>
    </table>
    <h1>Currently running subprocesses</h1>
    {{#running.length}}
    <table>
        <thead>
            <tr><th>Running since</th><th>Action</th></tr>
        </thead>
        <tbody>
            {{#running}}
            <tr>
                <td title="{{sincePrecise}}">{{since}}</td>
                <td><a href="subprocess/{{id}}">{{title}}</a></td>
            </tr>
            {{/running}}
        </tbody>
    </table>
    {{/running.length}}
    {{^running}}
    <p>No currently running subprocesses</p>
    {{/running}}
    <h1>Recently terminated subprocesses</h1>
    {{#finished.length}}
    <table>
        <thead>
            <tr><th>Finished</th><th>Action</th><th>Termination status</th></tr>
        </thead>
        <tbody>
            {{#finished}}
            <tr>
                <td title="{{finishedPrecise}}">{{finished}}</td>
                <td><a href="subprocess/{{id}}">{{title}}</a></td>
                <td><span class="exec-status {{status_class}}">{{status}}</span></td>
            </tr>
            {{/finished}}
        </tbody>
    </table>
    {{/finished.length}}
    {{^finished}}
    <p>No recently terminated subprocesses</p>
    {{/finished}}
</body>
</html>
