<!DOCTYPE html>
<html>
<head>
    <title>Roat</title>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
    <script>
    document.documentElement.addEventListener('click', function (event) {
        var element = event.target;
        var activateUrl = element.getAttribute('data-activate-url');
        if (activateUrl != null) {
            var xhr = new XMLHttpRequest();
            xhr.open("POST", activateUrl);
            xhr.setRequestHeader("Content-Type", "application/vnd.brik.roat.trigger+json");
            xhr.send("{}");
            xhr.onreadystatechange = function () {
                if (xhr.readyState === XMLHttpRequest.DONE) {
                    if (Math.floor(xhr.status / 100) == 2) {
                        var newLocation = xhr.getResponseHeader("Location");
                        if (!newLocation) {
                            alert("You have discovered a bug.\n\n" +
                                "The trigger action returned a " + xhr.status + " status, " +
                                "but the answer contained no Location.");
                            return;
                        }
                        window.location.href = newLocation;
                    } else {
                        if (xhr.status === 0) {
                            alert("Unable to reach the server.\n\nPlease try again later.");
                        } else {
                            console.error("[" + xhr.status + "]", xhr.statusText);
                            console.error("xhr.getAllResponseHeaders():", xhr.getAllResponseHeaders());
                            console.error("xhr.response:", xhr.response);
                            alert("An error occurred during triggering.\n\nPlease try again later.");
                        }
                    }
                }
            };
            event.preventDefault();
        }
    });
    </script>
</head>
<body>
    <h1>Actions</h1>
    <table>
        <thead>
            <tr><th>Title</th><th>Manual trigger</th></tr>
        </thead>
        <tbody>
            {{#actions}}
            <tr><td>{{title}}</td><td><button data-activate-url="action/{{id}}">Run</button></td></tr>
            {{/actions}}
        </tbody>
    </table>
    <h1>Subprocesses</h1>
    <table>
        <thead>
            <tr><th>Process</th><th>Status</th></tr>
        </thead>
        <tbody>
            {{#subprocesses}}
            <tr><td><a href="subprocess/{{id}}">{{title}}</a></td><td><span class="exec-status {{status_class}}">{{status}}</span></td></tr>
            {{/subprocesses}}
        </tbody>
    </table>
</body>
</html>
