<!DOCTYPE html>
<html>
<head>
    <title>{{title}}</title>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
    <script>
    window.onload = function (event) {
        var output = document.getElementById("output");
        output.scrollTop = output.scrollHeight;
    };
    </script>
</head>
<body>
    <dl>
        <dt>Command line:</dt>
        <dd>{{commandLine}}</dd>
        <dt>Exit status code:</dt>
        <dd>{{exitCode}}</dd>
    </dl>
    <pre id="output" class="process-output">{{#lines}}<span class="{{class}}">{{{html}}}</span>
{{/lines}}</pre>
</body>
</html>
