<!DOCTYPE html>
<html>
<head>
    <title>Roat</title>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
</head>
<body>
    <h1>Subprocesses</h1>
    <table>
        <thead>
            <tr><th>Process</th><th>Status</th></tr>
        </thead>
        <tbody>
            {{#subprocesses}}
            <tr><td><a href="subprocess/{{id}}">{{title}}</a></td><td><span class="exec-status {{status_class}}">{{status}}</span></td></tr>
            {{/subprocesses}}
        </tbody>
    </table>
</body>
</html>
